{% extends "layout.html"%}
{% block content %}
<h1 class="ideas">Shared Community Ideas</h1>
{% for post in posts.items %}
<div class="shared-post">
  <div>
    <img src="{{ url_for('static', filename='uploads/' + post.author.image_file)}}" alt="profile" class="user-post-img">
  </div>
  <div class="post-content">
    <a href="{{ url_for('posts.post', post_id=post.id) }}">
      <h3 class="post-content-header">{{ post.title }}</h3>
    </a>
    <p class="post-author-date"><a href="{{ url_for('users.user_posts', email=post.author.email) }}">{{
        post.author.firstname
        }}, {{ post.author.lastname[0] }}</a> | {{
      post.date_posted.strftime('%Y-%m-%d') }}</p>
    <p class="post-comment">{{ post.content }}</p>
  </div>
</div>
{% endfor %}

<div class="pages">
  {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
  <a href="{{ url_for('main.community', page=page_num)}}" {% if page_num==posts.page %}class="current" {% endif %}>{{
    page_num }}</a>
  {% else %}
  ...
  {% endif %}
  {% endfor %}
</div>
{% endblock content %}