{% extends "layout.html"%}
{% block content %}
<div class="shared-post">
  <div>
    <img src="{{ url_for('static', filename='uploads/' + post.author.image_file)}}" alt="profile" class="user-post-img">
  </div>
  <div class="post-content">
    <h3 class="post-content-header">{{ post.title }}</h3>
    <img src="{{ url_for('static', filename='uploads/' + post.chart) }}" alt="chart-img" class="post-content-img">
    <p class="post-author-date">{{ post.author.firstname }}, {{ post.author.lastname[0] }} | {{
      post.date_posted.strftime('%Y-%m-%d') }}</p>
    <p class="post-comment">{{ post.content }}</p>
    {% if post.author == current_user %}
    <div class="update-idea">
      <a href="{{ url_for('posts.update_post', post_id=post.id)}}">UPDATE</a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}