/*  color #1864ab;  #339af0; #4dabf7
*/
* {
  margin: 0;
  padding: 0;
  color: #f8f9fa;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(to right, #339af0, #1971c2);
}

.container {
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  background-color: #1864ab;
  align-items: center;
  padding: 16px 24px;
  margin: 0 auto;
}

.greeting {
  font-size: 14px;
}


.nav {
  display: flex;
  gap: 28px;
  align-items: center;
  font-size: 20px;
  list-style-type: none;
}


.nav li:hover {
  scale: 1.15;
  transition: 1000ms;
}


.nav-link a {
  text-decoration: none;
}

.cotainer {
  max-width: 1000px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 16px;
  /* border: 1px solid black; */
}


/* This section contain stylin for footer */
.copyright {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 44px;
  padding: 8px 0;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
}

/* This section contain styling for the home page */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* gap: 44px; */
  margin-bottom: 26px;
  margin-top: 44px;
}

.main-header {
  font-size: 32px;
  margin-bottom: 12px;
}

.content-header {
  display: flex;
  justify-content: space-around;
  gap: 32px;
  margin-bottom: 44px;
}

.submain-header {
  font-size: 26px;
  margin-bottom: 18px;
}

.main-paragraph {
  font-size: 16px;
  margin-bottom: 14px;
  letter-spacing: 0.75px;
  line-height: 2;
}

.login-signup {
  display: flex;
  /* gap: 44px; */
  font-size: 28px;
  margin-bottom: 28px;
}

.login-signup a {
  color: #fff;
  font-weight: bold;
  background-color: #a61e4d;
  border: solid #339af0;
}

.login-signup a:link {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 16px;
}

.login-signup a:hover {
  background-color: #a61e4d;
  color: #4dabf7;
  scale: 1.05;
  transition: 1000ms;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.share-header {
  margin-top: 40px;
  margin-bottom: 110px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* .share-header:hover {
  scale: 1.15;
  transition: 1000ms;
} */

.share-ideas {
  display: flex;
  flex-direction: column;
  /* gap: 26px; */
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #339af0;
  /* border-bottom: 60px; */
  border-radius: 12px;
}

.share-heading {
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 22px;
}

.share-commentary {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.75px;
  line-height: 2;
}

.choose-article {
  margin-bottom: 110px;
}

.choose {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-us {
  background-color: #339af0;
  margin-bottom: 44px;
  font-size: 26px;
  padding: 8px 16px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.more-info {
  display: flex;
  justify-content: space-evenly;
  gap: 44px;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}

.pricing:hover {
  scale: 1.1;
  transition: 1000ms;
  /* box-shadow: 0px 0px 0px #1864ab; */
}

.customer:hover {
  scale: 1.1;
  transition: 1000ms;
}

.expert:hover {
  scale: 1.1;
  transition: 1000ms;
}

.more-info-article {
  background-color: #4dabf7;
  padding: 16px 24px;
  border-radius: 12px;
  margin-bottom: 32px;
  letter-spacing: 0.75px;
  font-size: 14px;
  flex: 1;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.why-heading {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #1864ab;
}

.why-list {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 12px;
  list-style-type: none;
  color: #f8f9fa;
}

.analyst-bio {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 12px;
  list-style-type: none;
  color: #f8f9fa;
}

.analysts-heading {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  color: #1864ab;
}

.analysts-overview {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 12px;
}

.analyst-img {
  margin-bottom: 12px;
}

.customer:hover {
  scale: 1.1;
  transition: 1000ms;
}

/* This section contain styling for about */
.main-about-content {
  margin: 60px 0;
  padding: 0 16px;
}

.about-content {
  margin-bottom: 26px;
}

.about-sub-content {
  margin-bottom: 26px;
}

.about-content-header {
  font-size: 36px;
  line-height: 1.75;
}

.about-sub-content-header {
  font-size: 20px;
  letter-spacing: 1px;
}

.about-content-paragraph {
  font-size: 16px;
  line-height: 2;
}


/* This section contain styling for aside */
.aside {
  display: flex;
  justify-content: space-around;
  margin-top: 44px;
  margin-bottom: 24px;
}

.aside-header {
  font-size: 24px;
}

.aside-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 16px;
  margin: 16px 0;
}

.aside-list a {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
}

.aside-list a:hover {
  text-decoration: underline;
  border-radius: 8px;
}

/* This section contain styling for signup */

/* This section contain styling for login */
.signin,
.register {
  font-size: 36px;
  margin-top: 28px;
  margin-bottom: 16px;
  text-align: center;
}

.comments {
  width: 100%;
  height: 150px;
  font-size: 14px;
}

.signin-form,
.register-form {
  border: 1px solid #339af0;
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  margin-bottom: 16px;
}


.shared-idea {
  margin-bottom: 45px;
  gap: 16px;
}

.signin-input,
.register-input {
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  color: #000;
}

.email,
.password,
.confirm-password,
.firstname,
.lastname,
.title,
.content {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  margin-top: 16px;
}

.form-check-label {
  font-size: 14px;
  margin-top: 12px;
}

.invalid {
  font-size: 12px;
  color: #ff0000;
}

.submit {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #000;
  margin: 8px auto;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
}

.submit:hover {
  cursor: pointer;
}

.sub-update {
  background-color: #d0e9c6;
  color: #1864ab;
}

.sub-update:hover {
  color: #fff;
}

.login-paragraph,
.register-paragraph {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.login-paragraph a {
  text-decoration: none;
}

.paragraph {
  font-size: 16px;
}

/* This section contain styling for essentials/premium */
.chart-header {
  /* max-width: 75%; */
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 28px;
  font-size: 32px;
  text-align: center;
}

.chart-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
  max-width: 75%;
  border: 1px solid #339af0;
  border-radius: 8px;
  padding: 28px;
  margin-left: auto;
  margin-right: auto;
}

.chart-content-header {
  font-size: 28px;
  margin-bottom: 16px;
  letter-spacing: 1px;
}

.chart-img {
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 16px;
}

.chart-commentry {
  font-size: 14px;
  line-height: 2;
}

/* This section contain styles for alert message */
.alert {
  padding: 4px, 8px;
  display: inline;
  margin: 0 auto;
  border-radius: 4px;
}

.alert-success {
  background-color: #dff0d8;
  border: 1px solid #d0e9c6;
  color: #3c763d;
}

.alert-error {
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  color: #a94442;
}

/* This section contain styling for account-profile */
.user-account {
  display: flex;
  gap: 44px;
  margin-left: auto;
  margin-right: auto;

}

.profile-heading {
  font-size: 26px;
  margin-top: 44px;
  margin-bottom: 26px;
}

.user-info {}

.user-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-name {
  font-size: 32px;
}

.user-email {
  font-size: 16px;
}

.update-profile {
  margin-top: 12px;
}

.ideas {
  font-size: 36px;
  text-align: center;
  margin-top: 44px;
  /* margin-bottom: 16px; */
}

/* This section contain styling for community */
.author-info {
  font-size: 32px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 44px;
  /* margin-bottom: 26px; */
}

.shared-post {
  display: flex;
  margin: 44px 0;
  border-radius: 8px;
  padding: 28px;
  /* border: 1px solid #339af0; */
  gap: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.update-idea a {
  font-size: 14px;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 4px;
}

.update-idea a:hover {
  background-color: #1864ab;
}

.user-post-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post-content {
  /* flex: 1; */
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.post-content a {
  text-decoration: none;
}

.post-author-date a {
  text-decoration: underline;
}

.post-content-header {
  font-size: 28px;
  margin-bottom: 16px;
}

.post-content-img {
  /* height: 400px; */
  width: 100%;
  object-fit: contain;
  border-radius: 12px;
  margin-bottom: 16px;
}

.post-author-date {
  font-size: 12px;
  margin-bottom: 16px;
}

.post-analysis {
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 12px;
  font-weight: bold;
}

.post-comment {
  font-size: 16px;
  margin-bottom: 16px;
  /* letter-spacing: 0.75px; */
  line-height: 1.5;
}

.pages {
  text-align: center;
  margin-top: 16px;
}

.pages a {
  display: inline-block;
  font-size: 14px;
  margin: 4px;
  padding: 4px 8px;
  text-decoration: none;
  border: 1px solid #1864ab;
  border-radius: 4px;
}

.pages a:hover {
  background-color: #1864ab;
}

.pages .current {
  background-color: #1864ab;
}

.errors {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) and (orientation: portrait) {
  .container {
    width: 100%;
  }

  .nav-bar {
    flex-direction: column;
  }

  .nav-bar,
  .nav {
    gap: 10px;
    font-size: 18px;
  }

  .content-header {
    flex-direction: column;
  }

  .more-info {
    flex-direction: column;
  }

  .more-info-article,
  .analysts-heading,
  .analyst-img,
  .analyst-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .share-heading {
    text-align: center;
  }

  .post-content-header {
    font-size: 16px;
    margin-bottom: 6px;
  }

  .post-comment {
    font-size: 14px;
  }

  .post-analysis {
    font-size: 16px;
  }

  .author-info,
  .ideas {
    font-size: 20px;
  }

}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .nav-bar {
    flex-direction: column;
  }

  .home-img {
    width: 100%;
  }

  .nav-bar,
  .nav {
    gap: 16px;
    font-size: 22px;
  }

  .content-header {
    flex-direction: column;
  }

  .more-info {
    flex-direction: column;
  }

  .more-info-article,
  .analysts-heading,
  .analyst-img,
  .analyst-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .share-heading {
    text-align: center;
  }
}